 * {
  outline: 1px red solid;
}  

:root {
  --bg-body: #283618;
  --color-font: #fefae0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  max-width: 100%;
  background-color: var(--bg-body);
  color: var(--color-font);
}

main {
  padding: 1rem;

  max-width: 100%;

  margin-top: 5rem;
  max-height: 100%;
}
